<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhisen.cslcp.dao.CompanytypeMapper">
    
    <resultMap type="Companytype" id="CompanytypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createdate"    column="createDate"    />
        <result property="createuserid"    column="createUserId"    />
        <result property="createusername"    column="createUserName"    />
        <result property="modifydate"    column="modifyDate"    />
        <result property="modifyuserid"    column="modifyUserId"    />
        <result property="modifyusername"    column="modifyUserName"    />
        <result property="isdel"    column="isDel"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectCompanytypeVo">
        SELECT 	id AS id,
         		name AS name,
          		createDate AS createDate,
           		createUserId AS createUserId, 
          	 	createUserName AS createUserName,
            	modifyDate AS modifyDate,
             	modifyUserId AS modifyUserId, 
             	modifyUserName AS  modifyUserName,
              	isDel AS isDel,
               	version AS version
        FROM 	companytype
    </sql>
    
	    <select id="selectCompanytypePageNumber" parameterType="Companytype"  resultType="int">
		SELECT
		  COUNT(0)
		FROM companytype
		WHERE isDel = 0 
		<if test="name != null  and name != ''"> AND name LIKE CONCAT('%', #{name}, '%')</if>
	</select>
	
 <select id="selectCompanytypeList" parameterType="Companytype" resultMap="CompanytypeResult">
        <include refid="selectCompanytypeVo"/>
        <where>
        AND isDel = 0
        <if test="name != null  and name != ''"> AND name LIKE CONCAT('%', #{name}, '%')</if>
        </where>
        ORDER BY modifyDate DESC
        <if test="excelFlag != 1 "> LIMIT #{limit}, #{pageSize}; </if>
    </select>
    
	 <select id="selectCompanytypeAmountNumber" parameterType="Companytype"
		resultType="int">
		SELECT
		  COUNT(0)
		FROM companytype
		WHERE amount = #{amount}
		<if test="id != null  and id != '' "> AND id <![CDATA[ <> ]]> #{id} </if>
	</select>
	
	<select id="selectCompanytypeNameNumber" parameterType="Companytype"
		resultType="int">
		SELECT
		  COUNT(0)
		FROM companytype
		WHERE name = #{name}
		AND isDel = 0
		<if test="id != null  and id != '' "> AND id <![CDATA[ <> ]]> #{id} </if>
	</select>
	
    <insert id="insertCompanytype" parameterType="Companytype" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO companytype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            createDate,
            <if test="createuserid != null">createUserId,</if>
            <if test="createusername != null">createUserName,</if>
            modifyDate,
            <if test="modifyuserid != null">modifyUserId,</if>
            <if test="modifyusername != null">modifyUserName,</if>
            isDel,
            version
         </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            NOW(),
            <if test="createuserid != null">#{createuserid},</if>
            <if test="createusername != null">#{createusername},</if>
            NOW(),
            <if test="modifyuserid != null">#{modifyuserid},</if>
            <if test="modifyusername != null">#{modifyusername},</if>
            0,
            0
         </trim>
    </insert>
	
    <update id="updateCompanytype" parameterType="Companytype">
        UPDATE companytype
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            modifyDate =NOW(),
            <if test="modifyuserid != null">modifyUserId = #{modifyuserid},</if>
            <if test="modifyusername != null">modifyUserName = #{modifyusername},</if>
            version = version + 1
        </trim>
        WHERE id = #{id}
    </update>

    <update id="deleteCompanytypeByIds" parameterType="String">
        UPDATE companytype
        SET isDel =1 ,
            modifyDate =NOW(),
            version = version + 1
        WHERE id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>