<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhisen.cslcp.dao.MembertypeMapper">

	<resultMap type="Membertype" id="MembertypeResult">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="discount" column="discount" />
		<result property="amount" column="amount" />
	</resultMap>

	<sql id="selectMembertypeVo">
		SELECT id AS id, name AS name, discount AS discount, amount AS amount ,version AS version FROM membertype
	</sql>

	<select id="selectMembertypeList" parameterType="Membertype"
		resultMap="MembertypeResult">
		<include refid="selectMembertypeVo" />
		<where>
		    <if test="name != null  and name != '' "> AND name LIKE CONCAT('%', #{name}, '%')</if>
		</where>
		ORDER BY createTime DESC
		<if test="excelFlag != 1 "> LIMIT #{limit}, #{pageSize}; </if>
		
			
	</select>


    <select id="selectMembertypePageNumber" parameterType="Membertype" resultType="int">
		SELECT
		  COUNT(0)
		FROM membertype
		<where>
		    <if test="name != null  and name != '' "> AND name LIKE CONCAT('%', #{name}, '%')</if>
		</where>
	</select>

    <select id="selectMembertypeAmountNumber" parameterType="Membertype"
		resultType="int">
		SELECT
		  COUNT(0)
		FROM membertype
		WHERE amount = #{amount}
		<if test="id != null  and id != '' "> AND id <![CDATA[ <> ]]> #{id} </if>
	</select>
	
	<select id="selectMembertypeNameNumber" parameterType="Membertype"
		resultType="int">
		SELECT
		  COUNT(0)
		FROM membertype
		WHERE name = #{name}
		<if test="id != null  and id != '' "> AND id <![CDATA[ <> ]]> #{id} </if>
	</select>


	<insert id="insertMembertype" parameterType="Membertype"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO membertype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">name,</if>
			<if test="discount != null">discount,</if>
			<if test="amount != null">amount,</if>
			createTime,
			version
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="discount != null">#{discount},</if>
			<if test="amount != null">#{amount},</if>
			NOW(),
			0
		</trim>
	</insert>

	<update id="updateMembertype" parameterType="Membertype">
		UPDATE membertype
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name = #{name},</if>
			<if test="discount != null">discount = #{discount},</if>
			<if test="amount != null">amount = #{amount},</if>
			version = version + 1 ,
			createTime = NOW()
		</trim>
		WHERE id = #{id} 
		AND version = #{version} 
	</update>

	<select id="selectMembertypeInCompany" parameterType="string"
		resultType="int">
		SELECT
		  COUNT(0)
		  FROM company
		WHERE memberType  IN 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND isDel = 0
	</select>

    <delete id="deleteMembertypeByIds" parameterType="String">
        DELETE FROM membertype WHERE id IN 
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>